<div class="game-container">
    <div class="title">
        Type-Rescue
        <button mat-button (click)="restart()"> Restart </button>
    </div>
    <div class="bombContainer">
        <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile *ngFor="let bomb of bombs; let i=index" [ngClass]="{'top-grid': i < 3}">
                <ng-container *ngIf="bomb">

                    <div class="bomb animated jello"
                        [ngClass]="{'bombred': bomb.color == 'red', 'bombblue': bomb.color == 'blue', 'bombgreen': bomb.color == 'green' }">
                        <div class="bombtime" [ngClass]="{'bombsoon': bomb.time < 6}">
                            {{ bomb.time }}
                        </div>
                        <div *ngIf="i > 2" class="bombword">
                            <p> {{bomb.word}} </p>
                        </div>

                    </div>
                </ng-container>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="wordlog">
        <p *ngFor="let word of log">
            {{word.word}} + {{word.score}}
        </p>
    </div>


    <div id="bombbar">
        <div class="score">
            <p>
                {{score}}
            </p>
        </div>
        <input matInput name="typingpad" type="text" [(ngModel)]="typingpad" (ngModelChange)="typingUpdate()" ngModel autofocus>
    </div>
</div>