<div class="game-container">
    <div id="start-abs-container">
        <button mat-button *ngIf="!game_active && !game_played" (click)="restart()" class="start-button start-button-abs">Start</button>
    </div>
    <div class="title-container">
        <div class="title">
            Type-Rescue
        </div>
    </div>
    <div class="bombContainer">
        <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile *ngFor="let bomb of bombs; let i=index" [ngClass]="{'top-grid': i < 3}">
                <ng-container *ngIf="bomb">

                    <div class="bomb animated "
                        [ngClass]="{'bombred': bomb.color == 'red', 'bombblue': bomb.color == 'blue', 'bombgreen': bomb.color == 'green' }"
                        [ngStyle]="{'top': '-' + bomb.offsetY + 'px', 'opacity' : 1 - bomb.newtime}">
                        <div class="bombtime" [ngClass]="{'bombsoon': bomb.time < 6 * tickRateDisplay}">
                            {{ bomb.timedisplay}}
                        </div>
                        <div *ngIf="i > 2" class="bombword">
                                <div class="bombwordprefix"> <p> {{bomb.prefix}} </p> </div> <div class="bombwordsuffix"> <p> {{bomb.suffix}} </p> </div>
                        </div>

                    </div>
                </ng-container>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="wordlog">
        <p *ngFor="let word of log">
            {{word.word}} + {{word.score}}
        </p>
    </div>


    <div id="bombbar">
        <div class="score">
            <p>
                {{score}}
            </p>
        </div>
        <input matInput name="typingpad" type="text" [(ngModel)]="typingpad" ngModel autofocus>
    </div>

    <div style="color: white; position: fixed; left: 0; bottom: 0px; width: 20%; padding: 20px;">
            <h3> Rules </h3>
            <p> 1. Bombs slowly tick down. When they hit a time of zero you lose. </p>
            <p> 2. Type the words under the bombs into the defuser to defuse the bombs. </p>
            <p> 3. Defusing a bomb will also diffuse adjacent bombs of the same color. </p>
            <p> 4. Defusing multiple bombs at once improves score and gives more defuse on remaining bombs. </p>
            <p> 5. Bombs will slowly tick faster as the game continues. </p>

            <h1> BOMB SPEED: {{tickRateDisplay}} X</h1>
    </div>

    <div *ngIf="gameover" id="gameover">
        Game Over!
        <p>Scored {{score}} points</p>
        <button mat-button *ngIf="!game_active && game_played" (click)="restart()" class="start-button">Restart</button>
    </div>
</div>