<div class="bombContainer">
    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let bomb of bombs; let i=index" [ngClass]="{'top-grid': i < 3}">
            <div class="bomb" [ngClass]="{'bombred': bomb.color == 'red', 'bombblue': bomb.color == 'blue', 'bombgreen': bomb.color == 'green' }">
                <div class="bombtime"> {{ bomb.time }} <br>
                     <div *ngIf="i > 2" class="bombword">
                        <p> {{bomb.word}} </p>
                    </div>
                </div>

            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>


<div id="bombbar">
    <input matInput name="typingpad" type="text" [(ngModel)]="typingpad" (ngModelChange)="typingUpdate()" ngModel>
</div>