#bombbar {
    width: 25vw;
    min-width: 25vw;
    max-width: 25vw;
    padding: 10px;

    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;

    text-align: center;
}   


#bombbar >input {
    width: 25vw;
    min-width: 25vw;
    max-width: 25vw;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    font-size: 48px;
    font-family: 'Staatliches';
}

#bombbar >input:focus {
    outline: none;
}

input{
    text-align: center;
}

.wordlog {
    position: fixed;
    right: 0;
    width: 30;
    top: 0;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
}

@keyframes fadein {
	0% { opacity: 0; } 
	100% { opacity: 1; }
}

.wordlog >p{
    animation: bounceIn 1s linear 0s 1;
    text-align: center;
    font-size: 48px;
    color:white;
    /* text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; */
    margin: 0;
}

.title-container {
    position: absolute;
    left: 0;
    width: calc(50% - 380px);
    padding-left: 40px;
    padding-right: 40px;
    top: 50px;
}

.title {
    font-style: italic;
    font-size: 110px;
    color: white;
    /* text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title > button {
    width: 330px;
}

button {
    font-family: 'Staatliches';
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 3px;
}

.score{
    text-align: center;
}

.score > p {
    color: white;
    margin: 0;
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
}

.score > .score-number {
    margin-top: -20px;
    font-size: 90px;
}


.score > .score-desc {
    margin-top: 100px;
    font-size: 40px;
}

.bombContainer {
    max-width : 30vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-bottom: 10px;
    box-shadow: inset 0 0 30px black;
}

.bomb {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    border-radius: 50%;
    display: flex;
}

.game-container {
    font-family: 'Staatliches';
    height: 100%;
    width: 100%;
    /* display: flex;
    flex-direction: column; */
}

.mat-grid-tile{
    overflow: inherit;
}

.bombtime{
    min-width : 8vw;
    min-height : 8vw;
    max-width : 8vw;
    max-height : 8vw;
    /* overflow: scroll; */
    color: black;
    /* color: white; */
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    font-weight: bold;
    font-size: 72px;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid white;
    background: white;
}

/* .bombtime:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    border: 2px solid black;
    border-radius: 50%;
}
.bombtime:after {
    position: absolute;
    width: 111%;
    height: 111%;
    content: '';
    border: 2px solid black;
    border-radius: 50%;
} */

@keyframes urgent {
	0% { color: white; } 
	50% { color: black; } 
	100% { color: white; }
}

.bombsoon{
    animation: urgent linear 0.5s infinite;
    -webkit-animation: urgent linear 0.5s infinite;
}

.bombword{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    display: flex;
}
.bombwordsuffix >p {
    color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-weight: bold;
    font-size: 26px;
}

.bombwordprefix >p {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 26px;
    font-weight: bold;
    font-size: 26px;
}

.bombred .bombtime {
    border-color: rgb(0, 255, 0);
}
.bombblue .bombtime {
    border-color: rgb(0, 162, 255);
}
.bombgreen .bombtime {
    border-color: rgb(255, 68, 68);
}

#gameover {
    animation: bounceInUp 1s linear 0s 1;
    position: fixed;
    top: 0;
    left: 35vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 82px;
    text-align: center;
    color: black;
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    background-color: white;
    height: 100%;
    z-index: 99;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.66);
}

#gameover > p {
    margin: 0;
    font-size: 32px;
    margin-bottom: 20px;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

#start-abs-container {
    position: absolute;
    left: 50%;
    top: calc(50% - 50px);
}

.start-button {
    z-index: 999;
    font-size: 100px;
    height: 100px;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.33);
    background-color: rgb(235, 35, 0);
    border-radius: 20px;
    color: white;
    animation: pulse 1s infinite;
}

.start-button-abs {
    position: relative;
    left: -50%;
}

#sidebar {
    color: white;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 20%;
}

#help-text {
    animation: bounceInLeft 1s linear 0s 1;
    background: white;
    color: rgb(235, 35, 0);
    padding: 10px 40px;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.33);
    display: block;
}

#help-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 400px;
}

#help-button {
    border-radius: 0;
    color: rgb(235, 35, 0);
    font-size: 20px;
    display: block;
    z-index: 10;
}


#bombspeed {
    padding: 5px 20px;
}