#bombbar {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
}   


#bombbar >input {
    background-color: darkslategrey;
    color: greenyellow;
    font-size: 48px;
}

input{
    text-align: center;
}

.wordlog {
    position: fixed;
    right: 0;
    width: 200px;
    top: 100px;
    height: 600px;
    border: 2px white solid;
    overflow-y: auto;
    padding: 10px;
}

.wordlog >p{
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.title {
    position: absolute;
    left: 50px;
    top: 50px;
    font-family: 'Staatliches';
    font-style: italic;
    font-size: 72px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

.score{
    text-align: center;
}

.score >p{
    font-size: 72px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


.bombContainer {
    background-image: url("../assets/bombgrid.png");
    max-width : 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.mat-grid-tile {
    border-right: black 2px solid;
    border-left: black 2px solid;
}
.grid-top {
    border-bottom: black 2px solid;
}

.bomb {
    min-width: 100%;
    min-height: 100%;
    border-radius: 50%;
    display: flex;
}

.game-container {
    /* display: flex;
    flex-direction: column; */
}

.bombtime{
    min-width : 128px;
    min-height : 128px;
    max-width : 128px;
    max-height : 128px;
    /* overflow: scroll; */
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-weight: bold;
    font-size: 72px;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.bombsoon{
    color: red;
}

.bombword{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}
.bombword >p{
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

    font-weight: bold;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.bombred {
    background-image: url("../assets/redbubble.png");
}
.bombblue {
    background-image: url("../assets/bluebubble.png");
}
.bombgreen {
    background-image: url("../assets/greenbubble.png");
}