#bombbar {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
}   


#bombbar >input {
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    font-size: 48px;
    font-family: 'Staatliches';
}

#bombbar >input:focus {
    outline: none;
}

input{
    text-align: center;
}

.wordlog {
    position: fixed;
    right: 0;
    width: calc(50% - 300px);
    top: 0;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
}

@keyframes fadein {
	0% { opacity: 0; } 
	100% { opacity: 1; }
}

.wordlog >p{
    animation: bounceIn 1s linear 0s 1;
    text-align: center;
    font-size: 48px;
    color:white;
    /* text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; */
    margin: 0;
}

.title {
    position: absolute;
    left: 50px;
    top: 50px;
    font-style: italic;
    font-size: 72px;
    color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    display: flex;
    flex-direction: column;
}

button {
    font-family: 'Staatliches';
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 3px;
}

.score{
    text-align: center;
}

.score >p{
    font-size: 72px;
    color: black;
    margin: 10px;
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
}


.bombContainer {
    max-width : 600px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-bottom: 10px;
    box-shadow: inset 0 0 30px black;
}

.bomb {
    min-width: 100%;
    min-height: 100%;
    border-radius: 50%;
    display: flex;
}

.game-container {
    font-family: 'Staatliches';
    height: 100%;
    width: 100%;
    /* display: flex;
    flex-direction: column; */
}

.bombtime{
    min-width : 128px;
    min-height : 128px;
    max-width : 128px;
    max-height : 128px;
    /* overflow: scroll; */
    color: black;
    /* color: white; */
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    font-weight: bold;
    font-size: 72px;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid white;
}

/* .bombtime:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    border: 2px solid black;
    border-radius: 50%;
}
.bombtime:after {
    position: absolute;
    width: 111%;
    height: 111%;
    content: '';
    border: 2px solid black;
    border-radius: 50%;
} */

@keyframes urgent {
	0% { color: white; } 
	50% { color: black; } 
	100% { color: white; }
}

.bombsoon{
    animation: urgent linear 0.5s infinite;
    -webkit-animation: urgent linear 0.5s infinite;
}

.bombword{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}
.bombword >p {
    color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-weight: bold;
    font-size: 26px;
    margin: auto;
    text-align: center;
}

.bombred .bombtime {
    border-color: rgb(0, 255, 0);
}
.bombblue .bombtime {
    border-color: rgb(0, 162, 255);
}
.bombgreen .bombtime {
    border-color: rgb(255, 68, 68);
}